@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.about {
  text-align: center;
}

.about__title {
  margin-bottom: 32px;
}

.btn {
  height: 56px;
  width: 187px;
  border-radius: 30px;
  color: #3695ff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  background: #fff;
  border: 1px solid white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  color: #fff;
  background: #3695ff;
}

.burger {
  outline: 0;
  background: none;
  width: 42px;
  height: 20px;
  border: 0;
  padding: 0 8px;
  margin: 0;
  position: relative;
  cursor: pointer;
}

.burger__line, .burger::after, .burger::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.burger::before {
  top: 0;
  position: absolute;
}

.burger::after {
  bottom: 0;
  position: absolute;
}

.clients {
  background: #f9f9f9;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 30px;
  margin-top: 64px;
}

.expert {
  background: #f9f9f9;
}

.expert__list {
  margin-bottom: 44px;
  padding: 48px 20px 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  background: url(../img/Background.jpg) center center no-repeat;
  background-size: cover;
}

.footer__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  margin-right: 30px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 2%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  background: transparent;
  left: 0;
  right: 0;
  top: 0;
  z-index: 111;
}

.home {
  position: relative;
  color: #ffffff;
  background: url(../img/Background.jpg) center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
}

.home__link {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.home__img {
  margin-bottom: 64px;
  width: 147px;
  height: 147px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.09), 0 0 0 20px rgba(255, 255, 255, 0.06);
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.09), 0 0 0 20px rgba(255, 255, 255, 0.06);
}

.home__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 56px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.list__img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: linear-gradient(51deg, #3595ff 2.94%, #3564fc 140.18%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 54px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.list__img:hover {
  background: none;
  background-color: #fff;
  border: 1px solid #3595ff;
}

.list__img:hover .img__svg {
  fill: #3564fc;
}

.list__img .img__svg {
  fill: #fff;
}

.list__title {
  text-transform: uppercase;
  color: #565656;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}

.section {
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #5a5a5a;
}

.title {
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #565656;
}

.work-link__img {
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.works__title {
  text-align: center;
  margin-bottom: 60px;
  font-family: "Lato";
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  color: #565656;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/*# sourceMappingURL=style.css.map */