// Юля

.burger {
  background: url(../img/Burger_White.svg) center center no-repeat;
  background-size: cover;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 6vh;
  right: 11vw;
  pointer-events: initial;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
  }
}
