.header {
  &__burger {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed;
    background: transparent;
    left: 0;
    right: 3%;
    top: 3%;
    z-index: 111;
  }
}
