@import "about";
@import "btn";
@import "burger";
@import "clients";
@import "expert";
@import "footer";
@import "header";
@import "home";
@import "list";
@import "section";
@import "text";
@import "title";
@import "work-link";
@import "works";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
